*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 900;
}
.paragh1{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
#qoute_btn{
    padding: 1.5rem 6rem;
    font-size: 0.8rem;
    color: white;
    background-color: blue;
}
#qoute_btn:hover{
    background-color: #008000;
}

#qouteAuther ,#qouteContent{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
}
